.bottom {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.weather{
    &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: white;
    }
}