.header {
        @include flexDirectionColum;
        color: #fff;
    &__left {
        @include flexDirectionColum;
    }
    &__left-location {
        font-size: 1.5rem;
    }
    &__left-description {
        font-size: 1.5rem;
    }
    &__left-temp {
         color: yellow;
    }
    &__right{
        display: none;
    }
    // &__box {
    // }
    // ================mobile==================
    @include mobile{
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        &__right{
            display: unset;
        }
        &__right-min{
            margin: 0.75rem 0;
        }
    }
}

.greeting {
    color: #fff;
        font-size: 50px;
        margin-bottom: 5rem;
}

.timer {
        @include flexDirectionColum;
        color: #fff;
    &__time {
        font-size: 20px;
        font-weight: bold;
     }
     &__date {
        font-size: 30px;
        margin: 0;
     }
}