.header {
    // &__wrapper {
        @include flexDirectionColum;
        color: #fff;
    // }
    &__left {
        @include flexDirectionColum;
    }
    &__left-location {
        font-size: 1.5rem;
    }
    &__left-description {
        font-size: 24px;
    }
    &__left-temp {
         color: yellow;
    }
    // &__box {
    //     height: 130px;
    //     width: 130px;
    //     border-radius: 50%;
    //     border: 4px solid white;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
    &__box-time {
       font-size: 20px;
       font-weight: bold;
    }
    &__box-date {
       font-size: 30px;
       margin: 0;
    }
    &__box-wish {
        font-size: 50px;
        margin-bottom: 5rem;
    }
  

}