.header {
        @include flexDirectionColum;
        color: #fff;
    &__left {
        @include flexDirectionColum;
        text-align: center;
        padding: 10px;
        display: unset;
        height: 100px;
        width: 170px;
        border-radius: 10px;
    }
    &__left-location {
        font-size: 1.5rem;
    }
    &__left-description {
        font-size: 1.5rem;
    }
    &__left-temp {
        color: yellow;
    }
    &__right{
        display: none;
    }
    // &__box {
    // }
    // ================mobile==================
    @include mobile{
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        &__right{
            margin-left: 2vw;
            text-align: center;
            padding: 10px;
            background-color: rgb(204, 204, 32);
            display: unset;
            height: 100px;
            width: 170px;
            border-radius: 10px;
        }
        &__right-min{
            margin: 0.75rem 0;
        }
        &__left {
            background-color: rgb(204, 204, 32);
        }
        &__left-temp {
            color: #fff;
        }
    }
}

.greeting {
    color: #fff;
    font-size: 50px;
    margin-bottom: 5rem;
    text-align: center;
    @include mobile {
        margin: 1.5rem 0 4rem;
    }
}

.timer {
        @include flexDirectionColum;
        color: #fff;
    &__time {
        font-size: 20px;
        font-weight: bold;
     }
     &__date {
        font-size: 30px;
        margin: 0;
        font-weight: 600;
     }
}