@import "./partials/reset";
@import "./partials/header";
@import "./partials/form";

.background {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2))
    , url(../assets/images/mobile1.jpg);
    filter: contrast(120%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
}