@import "./partials/reset";
h1 {
    color: red;
}
body {
    background-image: url(../assets/images/mobile.jpg);
    background-size: cover; 
    background-position: center;
    // height: 800pxz;
    // width: 500px;
}
